<head>
    <meta charset="UTF-8">
    <title>{$sitename}-{$secsitename}</title>
    <link rel="stylesheet" href="__CDN__/assets/css/css/common.css">
    <link rel="stylesheet" href="__CDN__/assets/css/css/content.css">
    <link rel="stylesheet" href="/assets/addons/ueditor/ueditor.al.min.js"
  
  
  </head>
<center>
    <h1>{$title}</h1>
    <p>分类: {$category}</p>
</center>

<div class="article">{$content}</div>
<script src="__CDN__/assets/js/js/popper.min.js"></script>
<script src="__CDN__/assets/js/js/jquery-3.7.1.min.js"></script>
<script src="__CDN__/assets/js/js/bootstrap.bundle.min.js"></script>