<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>{$sitename}-{$secsitename}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__CDN__/assets/css/css/index.css">
    <link rel="stylesheet" href="__CDN__/assets/css/css/common.css">
</head>

<body style="background-image: url('__CDN__/assets/img/page.png');" class="back-img">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand ">{$site.name|htmlentities}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{:url('index/index')}">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{:url('index/contentlist')}">内容中心</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{:url('index/help')}">帮助中心</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{:url('index/about')}">关于我们</a>
                    </li>
                </ul>
                <!-- 将用户信息和登录/注册链接放在这里 -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!-- 使用 ms-auto 类来右对齐 -->
                    {if condition="isset($user)"}
                    <!-- 用户已登录，显示用户头像和ID -->
                    <li class="">
                        <a class="nav-link" href="{:url('user/index')}">
                            <img src="{$user.avatar}" alt="用户头像" class="user-avatar rounded-circle me-2"
                                style="width: 30px; height: 30px;">
                            {$user.nickname}
                        </a>
                    </li>
                    {else/}
                    <!-- 用户未登录，显示登录/注册链接 -->
                    <li class="">
                        <button type="button" class="btn btn-primary"
                            onclick="location.href='{:url('user/login')}'">登录</button>
                        <button type="button" class="btn btn-light"
                            onclick="location.href='{:url('user/register')}'">注册</button>
                    </li>
                    {/if}
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <!-- 大屏幕上每行两个元素，小屏幕上每段一行 -->
            <div class="col-lg-6 col-md-12 my-3">
                <div class="d-flex align-items-center h-100 panel">
                    <div>
                        <h3>课程中心</h3>
                        <p>课程中心网页提供全面的教学资源，支持在线学习，助力学生成长。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 my-3">
                <div class="d-flex align-items-center h-100 panel">
                    <div>
                        <h3>内容中心</h3>
                        <p>内容中心汇聚各类知识资讯，丰富多元，满足不同学习需求。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 my-3">
                <div class="d-flex align-items-center h-100 panel">
                    <div>
                        <h3>帮助中心</h3>
                        <p>帮助中心提供详尽指导与支持，解答疑虑，确保顺畅学习体验。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 my-3">
                <div class="d-flex align-items-center h-100 panel">
                    <div>
                        <h3>关于我们</h3>
                        <p>教育创新团队，专注提供优质资源，服务师生。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="__CDN__/assets/js/js/popper.min.js"></script>
    <script src="__CDN__/assets/js/js/jquery-3.7.1.min.js"></script>
    <script src="__CDN__/assets/js/js/bootstrap.bundle.min.js"></script>
</body>

</html>